# python compiled, optimized and DLL files
__pycache__/
*.py[cod]
*$py.class

# application ignores
env/*
src/_reports/*
src/sol/data_staking_rewards/*.csv
sample.env
out.log

# pycharm
.idea/*

# https://extraterra-assets.s3.us-east-2.amazonaws.com/contracts.json
# /contracts.json